* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

body {
    height: 100%;
    width: 100%;
    font-family: Roboto, Arial, "sans-serif";
    border: 5px solid green;
    overflow: auto;
}

body > * {
    border: 5px solid red;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* style direct descendants of header*/
header > * {
    margin: 10px;
}

/* Styling for search container and search bar*/
#search-container {
    height: 25px;
    flex: 0 1 400px;
    border: 1px solid #d3d3d3;
    display: inline-block;
}

#search-bar {
    height: 100%;
    display: inline-block;
}

#search-button {
    height: 100%;
    display: inline-block;
}

/* styling for main area*/
main {
    display: flex;
}

main > * {
    border: 5px solid yellow;
    margin: 10px;
}

/* styling for section*/
section {
    flex: 1 1 65%;
}

section > * {
    border: 5px solid blue;
    margin: 10px 0;
}

.iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* styling for main video content */
#video-info > * {
    padding: 10px 0;
}

.statistics {
    display: flex;
    justify-content: space-between;
}

#channel-info {
    display: flex;
}

#channel-info > * {
    margin: 10px;
}

.fab {
    font-size: 4em;
}

.subscribe {
    padding: 10px;
    background: red;
    align-self: flex-start;
}

#comments-header {
    padding: 10px;
}

.comments > *{
    border: 5px solid pink;
    display: flex;
    padding: 10px;
}

.comment > * {
    padding: 10px;
}

.fa-user {
    padding: 10px;
    flex: 0;
}

.comment-description {
    flex: 1;
}

.comment-description > * {
    padding-bottom: 20px;
}

.comment-interact {
    display: flex;
    align-items: center;
}

.comment-interact > * {
    padding: 10px;
}

aside {
    flex: 1 1 35%;
}