* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

body {
    height: 100%;
    width: 100%;
    border: 5px solid green;
    overflow: auto;
}

body > * {
    border: 5px solid red;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* style direct descendants of header*/
header > * {
    margin: 10px;
}

.fas {

}

/* Styling for search container and search bar*/
#search-container {
    height: 25px;
    flex: 0 1 400px;
    border: 1px solid #d3d3d3;
    display: inline-block;
}

#search-bar {
    height: 100%;
    display: inline-block;
}

#search-button {
    height: 100%;
    display: inline-block;
}

/* styling for main area*/
main {
    display: flex;
}

main > * {
    border: 5px solid yellow;
    margin: 10px;
}

/* styling for section*/
section {
    flex: 1 1 70%;
}

section > * {
    border: 5px solid blue;
}

aside {
    background: lightcyan;
    flex: 1 1 30%;
}

.subscribe {
    height: 50px;
    width: 100px;
    background: red;
}